<section class="tab flexgrow">
  <div class="items-section card">
    <div class="items-header header">
      <div class="item-name">{{localize "Spell"}}</div>
      <div class="item-header">{{localize "Charges"}}</div>
      <div class="item-header">{{localize "Roll"}}</div>
      <div class="item-header edit-mode-only">
        {{#if @root.editable}}
        <a
          class="item-control"
          data-action="itemCreate"
          title="{{localize 'DOCUMENT.Create' type='Spell'}}"
          data-type="spell"
        >
          <i class="fas fa-plus"></i>
        </a>
        {{/if}}
    </div>
  </div>
  <ol class="item-list" data-item-type="spell">
    {{#each spells as |item id|}}
      <li class="item" data-item-id="{{item._id}}" data-item-type="spell" draggable="true">
        <div class="item-row">
          <div class="item-name item-action" data-action="itemEdit">
            <img
              class="item-image rarity-common"
              src="{{item.img}}"
              title="{{item.name}}"
              width="32"
              height="32"
              draggable="false"
            />
            <div class="item-title">
              <span>{{item.name}}</span>
            </div>
          </div>
          <div class="item-column">
            {{#if item.system.charges}}
              {{#if @root.editable}}
              <a class="item-control" data-action="chargesDecrease" title="Decrease Charges">
                <i class="fas fa-circle-minus"></i>
              </a>
              {{/if}}
              <span>{{item.system.charges.value}}</span>
              {{#if item.system.charges.max}}
              <span>/</span>
              <span>{{item.system.charges.max}}</span>
              {{/if}}
              {{#if @root.editable}}
              <a class="item-control" data-action="chargesIncrease" title="Increase Charges">
                <i class="fas fa-circle-plus"></i>
              </a>
              {{/if}}
            {{else}}
              —
            {{/if}}
          </div>
          {{#if item.system.action.ability}}
          <div class="item-column" data-action="rollable"
              data-roll="d12+@abilities.{{item.system.action.ability}}.value {{bonus item.system.action.bonus}}"
              data-label="{{item.name}}">
            <span
              style="color: var(--d12-attribute-{{item.system.action.ability}}-color)">
              {{localize (lookup @root.config.abilityAbbreviations item.system.action.ability)}}
            </span>
            {{bonus item.system.action.bonus}}
          </div>
          {{else}}
          <div class="item-column">—</div>
          {{/if}}
          <div class="item-column item-actions edit-mode-only">
            <a
              class="item-control"
              data-action="itemDelete"
              title="{{localize "DOCUMENT.Delete" type='Spell'}}"
            >
              <i class="fas fa-xmark"></i>
            </a>
          </div>
        </div>
      </li>
    {{/each}}
    {{#if (eq (length spells) 0)}}
      <li class="item">
        <div class="item-row">
          <div class="no-items grid-span-12 flexcol">{{localize "D12.NoSpells"}}</div>
        </div>
      </li>
    {{/if}}
  </ol>
  </div>
</section>
