<div class='items-section card'>
  <div class='items-header header'>
    <div class='item-name'>{{localize 'Item'}}</div>
    <div class='item-header'>{{localize 'Quantity'}}</div>
    <div class='item-header'>{{localize 'Ability'}}</div>
    <div class='item-header'>
      {{#if @root.editable}}
      <a
        class='item-control item-create'
        title='{{localize "DOCUMENT.Create" type='Item'}}'
        data-type='item'
      >
        <i class='fas fa-plus'></i>
      </a>
      {{/if}}
    </div>
  </div>
  <ol class='item-list'>
    {{#each gear as |item id|}}
      <li class='item' data-item-id='{{item._id}}'>
        <div class='item-row'>
          <div class='item-name item-action'>
            <img
              class='item-image'
              src='{{item.img}}'
              title='{{item.name}}'
              width='32'
              height='32'
              draggable='false'
            />
            <div class='item-title'>
              <span>{{item.name}}</span>
            </div>
          </div>
          <div class='item-column'>
            {{item.system.quantity}}
          </div>
          <div class='item-column'>
            {{#if item.system.action.ability}}
            <span class="rollable" data-roll="d12+@abilities.{{item.system.action.ability}}.value" style="color: var(--d12-attribute-{{item.system.action.ability}}-color)">
              {{localize (lookup @root.config.abilities item.system.action.ability)}}
            </span>
            {{else}}
            —
            {{/if}}
          </div>
          <div class='item-column item-actions'>
            <a
              class='item-control item-edit'
              title='{{localize "DOCUMENT.Update" type='Item'}}'
            >
              <i class='fas fa-arrow-up-right-from-square fa-lg'></i>
            </a>
            {{#if @root.editable}}
            <a
              class='item-control item-delete'
              title='{{localize "DOCUMENT.Delete" type='Item'}}'
            >
              <i class='fas fa-trash fa-lg'></i>
            </a>
            {{/if}}
          </div>
        </div>
      </li>
    {{/each}}
  </ol>
</div>
