<section class="tab flexgrow">
  <div class="items-section card">
    <div class="items-header header">
      <div class="item-name">{{localize "Item"}}</div>
      <div class="item-header">{{localize "Quantity"}}</div>
      <div class="item-header">{{localize "Roll"}}</div>
      <div class="item-header edit-mode-only">
        <a
          class="item-control"
          data-action="itemCreate"
          title="{{localize 'DOCUMENT.Create' type='Item'}}"
          data-type="item"
        >
          <i class="fas fa-plus"></i>
        </a>
    </div>
  </div>
  <ol class="item-list" data-item-type="item">
    {{#each inventory as |item id|}}
      {{> "systems/d12/templates/actor/item-table-row.hbs" item=item }}
    {{/each}}
    {{#if (eq (length inventory) 0)}}
      <li class="item">
        <div class="item-row">
          <div class="no-items grid-span-12 flexcol">{{localize "D12.NoItems"}}</div>
        </div>
      </li>
    {{/if}}
  </ol>
  </div>
</section>
