{{!-- The grid classes are defined in scss/global/_grid.scss. To use,
use both the "grid" and "grid-Ncol" class where "N" can be any number
from 1 to 12 and will create that number of columns.  --}}
<section class="tab flexgrow flexcol">
  <div class="grid grid-12col">
    <div class="grid-span-7 justify-center flexcol">
    {{#each system.abilities as |ability key|}}
      <div class="attribute-field flexcol" data-action="rollable" data-roll="d12+@abilities.{{key}}.value" data-label="{{localize (lookup @root.config.abilities key)}}">
        <label for="system.abilities.{{key}}.value" class="label flex-group-left">
          {{localize (lookup @root.config.abilities key)}}
        </label>
        <div class="attribute-box flexrow align-left rollable" style="border-color: var(--d12-attribute-{{key}}-color)">
          <div class="attribute-icon">
            <img src="/systems/d12/assets/ui/icons/basic_{{key}}.svg" width="16" height="16" />
          </div>
          {{#if @root.editable}}
          <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
          {{else}}
          <div class="flexrow align-left attribute-points">
            {{#times ability.value}}
            <i class="fas fa-star fa-lg" style="color: var(--d12-attribute-{{key}}-color)"></i>
            {{/times}}
          </div>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>

  <div class="grid-span-5 flexcol flex-group-center">
    {{#each system.defenses as |defense key|}}
      <div class="defense-field flexcol flexshrink">
        <label for="system.defenses.{{key}}.value" class="label align-left" data-label="{{localize (lookup @root.config.defenses key)}}">
          {{localize (lookup @root.config.defenses key)}}
        </label>

        <div class="defense-box flexrow align-left">
          <div class="defense-icon">
            <img src="/systems/d12/assets/ui/icons/basic_{{key}}.svg" width="32" height="32" />
          </div>
          {{#if @root.editable}}
          <input type="text" name="system.defenses.{{key}}.value" value="{{defense.value}}" data-dtype="Number"/>
          {{else}}
          <div class="defense-value">
            {{defense.value}}
          </div>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
  </div>
</section>
