<li class="item draggable" data-item-id="{{item._id}}" data-item-type="item">
  <div class="item-row">
    <div class="item-name item-action" data-action="itemEdit">
      <img
        class="item-image rarity-common"
        src="{{item.img}}" title="{{item.name}}"
        width="32" height="32"
      />
      <div class="item-title">
        <span>{{item.name}}</span>
      </div>
    </div>
    <div class="item-column quantity-column">
      {{#if item.system.quantity}}
        <a class="action-icon edit-mode-only" data-action="quantityDecrease" title="Decrease Quantity">
          <i class="fas fa-circle-minus"></i>
        </a>
        <span>{{item.system.quantity}}</span>
        <a class="action-icon edit-mode-only" data-action="quantityIncrease" title="Increase Quantity">
          <i class="fas fa-circle-plus"></i>
        </a>
      {{else if item.system.charges}}
        <a class="action-icon edit-mode-only" data-action="chargesDecrease" title="Decrease Charges">
          <i class="fas fa-circle-minus"></i>
        </a>
        <span>
          <span class="{{#if (eq item.system.charges.value 0)}}no-charges{{/if}}">{{item.system.charges.value}}</span>
          {{#if item.system.charges.max}}
          <span>/</span>
          <span>{{item.system.charges.max}}</span>
          {{/if}}
        </span>
        <a class="action-icon edit-mode-only" data-action="chargesIncrease" title="Increase Charges">
          <i class="fas fa-circle-plus"></i>
        </a>
      {{else}}
        <span>—</span>
      {{/if}}
    </div>
    {{#if item.system.action.ability}}
    <div class="item-column">
      <span
        style="color: var(--d12-attribute-{{item.system.action.ability}}-color)">
        {{localize (lookup @root.config.abilityAbbreviations item.system.action.ability)}}
      </span>
      {{bonus item.system.action.bonus}}
    </div>
    {{else}}
    <div class="item-column">—</div>
    {{/if}}
    <div class="item-column item-actions">
      {{#if @root.editable}}
        <a class="action-icon" data-action="itemDelete"
          title="{{localize "DOCUMENT.Delete" type='Item'}}"
        >
          <i class="fas fa-xmark"></i>
        </a>
      {{else if item.system.action.ability}}
        <a class="action-icon" data-action="rollable"
          data-ability="{{item.system.action.ability}}" data-item="{{item._id}}"
          title="{{localize "DOCUMENT.Roll" type='Item'}}"
        >
          <i class="fas fa-dice"></i>
        </a>
      {{/if}}
    </div>
  </div>
</li>
