<li class="item draggable" data-item-id="{{item._id}}" data-item-type="item">
  <div class="item-row">
    <div class="item-name item-action" data-action="itemEdit">
      <img
        class="item-image rarity-common"
        src="{{item.img}}" title="{{item.name}}"
        width="32" height="32"
      />
      <div class="item-title">
        <span>{{item.name}}</span>
      </div>
    </div>
    <div class="item-column quantity-column">
      {{#if item.system.quantity}}
        <a class="action-icon edit-mode-only" data-action="quantityDecrease" title="Decrease Quantity">
          <i class="fas fa-circle-minus"></i>
        </a>
        <span>{{item.system.quantity}}</span>
        <a class="action-icon edit-mode-only" data-action="quantityIncrease" title="Increase Quantity">
          <i class="fas fa-circle-plus"></i>
        </a>
      {{else if item.system.charges}}
        <a class="action-icon edit-mode-only" data-action="chargesDecrease" title="Decrease Charges">
          <i class="fas fa-circle-minus"></i>
        </a>
        <span>
          <span class="{{#if (eq item.system.charges.value 0)}}no-charges{{/if}}">{{item.system.charges.value}}</span>
          {{#if item.system.charges.max}}
          <span>/</span>
          <span>{{item.system.charges.max}}</span>
          {{/if}}
        </span>
        <a class="action-icon edit-mode-only" data-action="chargesIncrease" title="Increase Charges">
          <i class="fas fa-circle-plus"></i>
        </a>
      {{else}}
        <span>—</span>
      {{/if}}
    </div>
    {{#if item.system.action.roll}}
    <div class="item-column">
      <span
        style="color: var(--d12-attribute-{{item.system.action.roll.ability}}-color)">
        {{localize (lookup @root.config.abilityAbbreviations item.system.action.roll.ability)}}
      </span>
      {{bonus item.system.action.roll.bonus}}
    </div>
    {{else}}
    <div class="item-column">—</div>
    {{/if}}
    <div class="item-column item-actions">
      {{#if @root.editable}}
        <a class="action-icon" data-action="itemDelete"
          title="{{localize "DOCUMENT.Delete" type='Item'}}"
        >
          <i class="fas fa-xmark"></i>
        </a>
      {{else if item.system.action}}
        <a class="action-icon use-item" data-action="rollable" data-item="{{item._id}}"
          title="{{#if (eq item.type 'spell')}}{{localize 'D12.Item.Use.Spell'}}{{else}}{{localize 'D12.Item.Use.Item'}}{{/if}}"
        >
          <i class="fas fa-regular fa-star-christmas"></i>
        </a>
      {{/if}}
    </div>
  </div>
</li>
