{{!-- The grid classes are defined in scss/global/_grid.scss. To use,
use both the "grid" and "grid-Ncol" class where "N" can be any number
from 1 to 12 and will create that number of columns.  --}}
<div class="tab flexgrow flexcol">
  {{#if (or system.biography @root.editable)}}
    <div class="editor-section npc-stats-section">
        {{#if @root.editable}}
        <prose-mirror
          name="system.biography"
          button="true"
          editable="{{@root.editable}}"
          toggled="false"
          value="{{system.biography}}">
          {{{enrichedBiography}}}
        </prose-mirror>
        {{else}}
        {{{enrichedBiography}}}
        {{/if}}
    </div>
  {{/if}}

  <div>
    {{> "systems/d12/templates/actor/character-stats.hbs"}}
  </div>

</div>
