<div class="d12-roll-message flexcol">
  <div class="item-container flexrow">
    <div class="item-image">
      <img src="{{data.item.img}}" width="32" height="32" />
    </div>
    <div class="item-name">{{data.item.name}}</div>
  </div>

  <div class="roll-breakdown flexrow">
    <div class="die flexrow">
      <i class="fas fa-dice"></i>
      <span>12</span>
    </div>
    <div class="plus">+</div>
    <div class="bonus flexrow" style="border-color: var(--d12-attribute-{{data.ability}}-color)">
      <img src="/systems/d12/assets/ui/icons/basic_{{data.ability}}.svg" width="24" height="24" />
      <span>{{data.abilityBonus}}</span>
    </div>
  </div>

  <div class="separator flexrow">Result</div>

  <div class="roll-result">
    {{roll.total}}
  </div>
</div>
