<section class="{{#if editable}}editable{{else}}locked{{/if}} {{actor.type}}"
  data-group="{{tab.group}}"
  data-tab="{{tab.id}}">
  {{!-- Sheet Body --}}
  <div class="grid sheet-grid flexcol">

    {{!-- Left column: sidebar with resources and image --}}
    <aside class="sidebar">
      <div class="sheet-art">
        <img src="{{actor.img}}"
          {{#if editable}} data-action="editImage" data-edit="img" {{/if}}
          title="{{actor.name}}" height="100" width="100"/>
      </div>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources">

        {{#if fullViewPermissions}}
          <div class="resource">
            <label for="system.health.value" class="label">Health</label>
            <div class="resource-squares health-squares">
              {{#if editable}}
              <a class="resource-action" data-action="setMaxHealth" data-value="-1" title="Decrease Health">
                <i class="fas fa-minus-circle"></i>
              </a>
              {{/if}}
              {{#times system.health.max}}
              <a class="resource-square {{#if (lt this @root.system.health.value)}}filled health{{else}}empty{{/if}}"
                {{#if @root.editable}} data-action="setHealth" data-value="{{this}}" {{/if}}
              ></a>
              {{/times}}
              {{#if editable}}
              <a class="resource-action" data-action="setMaxHealth" data-value="1" title="Increase Health">
                <i class="fas fa-plus-circle"></i>
              </a>
              {{/if}}
            </div>
          </div>

          {{#if (or editable system.mana.max)}}
          <div class="resource">
            <label for="system.mana.value" class="label">Mana</label>
            <div class="resource-squares mana-squares">
              {{#if editable}}
              <a class="resource-action" data-action="setMaxMana" data-value="-1" title="Decrease Mana">
                <i class="fas fa-minus-circle"></i>
              </a>
              {{/if}}
              {{#times system.mana.max}}
              <div class="resource-square {{#if (lt this @root.system.mana.value)}}filled mana{{else}}empty{{/if}}"
                {{#if @root.editable}} data-action="setMana" data-value="{{this}}" {{/if}}
              ></div>
              {{/times}}
              {{#if editable}}
              <a class="resource-action" data-action="setMaxMana" data-value="1" title="Increase Mana">
                <i class="fas fa-plus-circle"></i>
              </a>
              {{/if}}
            </div>
          </div>
          {{/if}}
        {{/if}}

        {{!-- Effects Display --}}
        {{#if effects}}
        <div class="effects-section">
          <label class="label">Effects</label>
          <div class="effects-list">
            {{#each effects}}
            <div class="effect-item flexrow flex-between flex-center">
              <img src="{{this.img}}" width="20" height="20" />
              <div class="effect-name">{{this.name}}</div>
              {{#if @root.editable}}
              <a class="effect-remove" data-action="effectRemove" data-effect-id="{{this.id}}" title="Remove effect">
                <i class="fas fa-times"></i>
              </a>
              {{/if}}
            </div>
            {{/each}}
          </div>
        </div>
        {{/if}}

      </div>
    </aside>

    {{!-- Right column: main content with tabs --}}
    <section class="sheet-body flexcol">

      {{!-- Sheet Header --}}
      <header class="sheet-header flexcol">
        <div class="sheet-title">
          {{#if editable}}
          <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
          {{else}}
          <div>{{actor.name}}</div>
          {{/if}}
        </div>
      </header>

      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-tabs flexrow ">
        <a class="item stats {{#if (eq activeTab "stats")}}active{{/if}}" data-action="changeTab" data-tab="stats"><i class="fas fa-star"></i> {{localize "D12.SheetLabels.Stats"}}</a>
        {{#if fullViewPermissions}}
        <a class="item items {{#if (eq activeTab "items")}}active{{/if}}" data-action="changeTab" data-tab="items"><i class="fas fa-flask-round-potion"></i> {{localize "D12.SheetLabels.Items"}}</a>
        <a class="item spells {{#if (eq activeTab "spells")}}active{{/if}}" data-action="changeTab" data-tab="spells"><i class="fas fa-fire"></i> {{localize "D12.SheetLabels.Spells"}}</a>
        {{/if}}
      </nav>

      {{!-- Sheet Content --}}
      <div class="flexgrow flexcol tab-content">
        {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
        <div class="actor-tab stats {{#unless (eq activeTab "stats")}}hidden{{/unless}}">
          {{#if (eq actor.type "npc")}}
            {{> "systems/d12/templates/actor/npc-stats.hbs"}}
          {{else}}
            {{> "systems/d12/templates/actor/character-stats.hbs"}}
          {{/if}}
        </div>
        <div class="actor-tab items {{#unless (eq activeTab "items")}}hidden{{/unless}}">
          {{> "systems/d12/templates/actor/inventory.hbs"}}
        </div>
        <div class="actor-tab spells {{#unless (eq activeTab "spells")}}hidden{{/unless}}">
          {{> "systems/d12/templates/actor/spells.hbs"}}
        </div>
      </div>
    </section>
  </div>
</section>
