<section class="flexcol flexgrow {{#if editable}}editable{{else}}locked{{/if}}">
  {{!-- Sheet Body --}}
  <div class="grid sheet-grid flexgrow">

    {{!-- Left column: sidebar with resources and image --}}
    <aside class="sidebar">
      <div class="sheet-art">
        <img class="rarity-{{system.rarity}}" src="{{item.img}}"
          {{#if editable}} data-action="editImage" data-edit="img" {{/if}}
          title="{{item.name}}" height="100" width="100" />
      </div>

      <div class="details">
        {{#if editable}}
          <div class="rarity flexcol">
            <label for="system.category" class="label">Category</label>
            <select name="system.category">
              {{#each categories}}
                <option value="{{@key}}" {{#if (eq @key ../system.category)}}selected{{/if}}>
                  {{localize this}}
                </option>
              {{/each}}
            </select>
          </div>
        {{else}}
          <div class="sheet-subtitle">
            {{localize system.category}}
          </div>
        {{/if}}

        {{#if (eq item.type "item")}}
        <div class="rarity flexcol">
          <label for="system.rarity" class="label">Rarity</label>
          <select class="rarity-{{system.rarity}}" name="system.rarity" {{#unless editable}}disabled{{/unless}}>
            {{#each config.rarities}}
              <option class="rarity-{{@key}}" value="{{@key}}" {{#if (eq @key ../system.rarity)}}selected{{/if}}>
                {{localize this}}
              </option>
            {{/each}}
          </select>
        </div>
        {{/if}}
      </div>
    </aside>

    {{!-- Right column: main content with tabs --}}
    <section class="sheet-body flexcol">

      {{!-- Sheet Header --}}
      <header class="sheet-header flexcol">
        <div class="sheet-title">
          {{#if editable}}
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
          {{else}}
          <div class="flexrow">
            <div class="flexgrow">{{item.name}}</div>
            {{#if item.system.action}}
            <div class="flexauto flexrow flex-group-center">
              <button class="use-item rollable" data-action="rollable">
                <i class="fas fa-regular fa-star-christmas"></i>
                <span>
                  {{#if (eq item.type 'spell')}}
                    {{localize 'D12.Item.Use.Spell'}}
                  {{else}}
                    {{localize 'D12.Item.Use.Item'}}
                  {{/if}}
                </span>
              </button>
            </div>
            {{/if}}
          </div>
          {{/if}}
        </div>

        {{#if (eq item.type "item")}}
          {{#if editable}}
          <div class="grid grid-3col">
            <div>
              <label for="system.price" class="label">Price</label>
              <input type="text" name="system.price" value="{{system.price}}" data-dtype="Number" />
            </div>
            <div>
              <label for="system.weight" class="label">Weight</label>
              <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
            </div>
            <div>
              <label for="system.quantity" class="label">Quantity</label>
              <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
            </div>
          </div>
          {{else}}
          <div class="inline-attributes">
            {{#if system.price}}
            <span>
              <i class="fas fa-coins"></i>
              <span class="attribute-value">{{system.price}}</span>
              <span>GP</span>
            </span>
            {{/if}}
            <span>
              <i class="fas fa-weight-hanging"></i>
              <span class="attribute-value">{{system.weight}}</span>
              <span>kg</span>
            </span>
            <span>
              <span>Quantity</span>
              <span class="attribute-value">{{system.quantity}}</span>
            </span>
          </div>
          {{/if}}
        {{/if}}
        {{#if (eq item.type "spell")}}
          {{#if editable}}
          <div class="grid grid-2col">
            <div>
              <label for="system.charges.value" class="label">Charges</label>
              <input type="text" name="system.charges.value" value="{{system.charges.value}}" data-dtype="Number" />
            </div>
            <div>
              <label for="system.charges.max" class="label">Maximum</label>
              <input type="text" name="system.charges.max" value="{{system.charges.max}}" data-dtype="Number" />
            </div>
          </div>
          {{else}}
          <div class="inline-attributes">
            {{#if system.charges}}
            <span>
              <i class="fas fa-magic"></i>
              <span class="attribute-value">{{system.charges.value}}</span>
              {{#if system.charges.max}}
              <span>/</span>
              <span class="attribute-value">{{system.charges.max}}</span>
              {{/if}}
              <span>charges</span>
            </span>
            {{else}}
            <span>
              <span>Unlimited use</span>
            </span>
            {{/if}}
          </div>
          {{/if}}
        {{/if}}
      </header>

      {{#if editable}}
      <div class="action-section edit-mode flexcol">
        <div class="flexcol">
          <label for="mode" class="label">Use mode</label>
          <select class="mode" name="mode">
            <option value="no_action" {{#if (eq mode "no_action")}}selected{{/if}}>
              No Action
            </option>
            <option value="action_no_roll" {{#if (eq mode "action_no_roll")}}selected{{/if}}>
              Action (No Roll)
            </option>
            <option value="action_roll" {{#if (eq mode "action_roll")}}selected{{/if}}>
              Action (With Roll)
            </option>
          </select>
        </div>

        {{#if system.action.roll}}
        <div class="flexcol roll-details">
          <label class="label">Roll</label>
          <div class="flexrow">
            <div class="flexrow ability-bonus-box">
              <select name="system.action.roll.ability">
                {{#each config.abilityAbbreviations}}
                  <option value="{{@key}}" {{#if (eq @key ../system.action.roll.ability)}}selected{{/if}}>
                    {{localize this}}
                  </option>
                {{/each}}
              </select>
              <span class="separator-text">+</span>
              <input type="text" name="system.action.roll.bonus" value="{{system.action.roll.bonus}}" data-dtype="Number" />
            </div>
            <div class="against">vs.</div>
            <div class="flexrow target-defense-box">
              <select name="system.action.roll.target.type">
                {{#each config.defenseAbbreviations}}
                  <option value="{{@key}}" {{#if (eq @key ../system.action.roll.target.type)}}selected{{/if}}>
                    {{localize this}}
                  </option>
                {{/each}}
                <option value="fixed" {{#if (eq "fixed" system.action.roll.target.type)}}selected{{/if}}>
                  {{localize "D12.Defense.Fixed.abbr"}}
              </select>
              <span class="separator-text">DC</span>
              <input type="text" name="system.action.roll.target.difficulty" value="{{system.action.roll.target.difficulty}}" data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="critical-edit flexcol">
          <label for="system.action.roll.critical" class="label">Critical</label>
          <input type="text" name="system.action.roll.critical" value="{{system.action.roll.critical}}" data-dtype="Number" />
        </div>
        {{/if}}
      </div>

      {{else if system.action.roll}}
      <div class="action-section play-mode">
        <div class="flexrow">
          <div class="title flexgrow">
            Action Roll
          </div>
          {{#if system.action.roll.critical}}
          <div class="critical-details">
            Critical on
            {{#for system.action.roll.critical 12}}
              <span class="critical-number">{{this}}</span>
            {{/for}}
          </div>
          {{/if}}
        </div>
        <div class="flexrow roll-details">
          <div class="flexrow ability-bonus-box" style="border-color: var(--d12-attribute-{{system.action.roll.ability}}-color)">
            <img src="/systems/d12/assets/ui/icons/basic_{{system.action.roll.ability}}.svg" width="24" height="24" />
            <div class="box-description">
              <span style="color: var(--d12-attribute-{{system.action.roll.ability}}-color)">
                {{localize (lookup @root.config.abilities system.action.roll.ability)}}
              </span>
              <span>{{bonus system.action.roll.bonus}}</span>
            </div>
          </div>
          <div class="against">vs.</div>
          <div class="flexrow target-defense-box">
            <img src="/systems/d12/assets/ui/icons/basic_{{system.action.roll.target.type}}.svg" width="24" height="24" />
            <span class="box-description">
              {{#if (eq system.action.roll.target.type "fixed")}}
                {{#if system.action.roll.target.difficulty}}
                  <span class="difficulty">{{system.action.roll.target.difficulty}}</span> {{localize 'D12.Target.DC'}}
                {{else}}
                  {{localize 'D12.Target.Unknown'}}
                {{/if}}
              {{else}}
                {{localize (lookup @root.config.defenses system.action.roll.target.type)}}
              {{/if}}
            </span>
          </div>
        </div>
      </div>
      {{/if}}

      <div class="editor-section">
        {{#if editable}}
        <prose-mirror
          name="system.description"
          button="true"
          editable="{{editable}}"
          toggled="false"
          value="{{system.description}}">
          {{{enrichedDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedDescription}}}
        {{/if}}
      </div>
    </section>

  </div>
</section>
