<section class="flexcol flexgrow {{#if editable}}editable{{else}}locked{{/if}}">
  {{!-- Sheet Body --}}
  <div class="grid sheet-grid flexgrow">

    {{!-- Left column: sidebar with resources and image --}}
    <aside class="sidebar">
      <div class="sheet-art">
        <img class="rarity-{{system.rarity}}" src="{{item.img}}"
          {{#if editable}} data-action="editImage" data-edit="img" {{/if}}
          title="{{item.name}}" height="100" width="100" />
      </div>

      <div class="details">
        {{#if editable}}
          <div class="rarity flexcol">
            <label for="system.category" class="label">Category</label>
            <select name="system.category">
              {{#each categories}}
                <option value="{{@key}}" {{#if (eq @key ../system.category)}}selected{{/if}}>
                  {{localize this}}
                </option>
              {{/each}}
            </select>
          </div>
        {{else}}
          <div class="sheet-subtitle">
            {{localize system.category}}
          </div>
        {{/if}}

        {{#if (eq item.type "item")}}
        <div class="rarity flexcol">
          <label for="system.rarity" class="label">Rarity</label>
          <select class="rarity-{{system.rarity}}" name="system.rarity" {{#unless editable}}disabled{{/unless}}>
            {{#each config.rarities}}
              <option class="rarity-{{@key}}" value="{{@key}}" {{#if (eq @key ../system.rarity)}}selected{{/if}}>
                {{localize this}}
              </option>
            {{/each}}
          </select>
        </div>
        {{/if}}

        {{#if editable}}
          <div class="flexcol">
            <label for="system.action.type" class="label">Action Type</label>
            <select name="system.action.type">
              <option value="">None</option>
              {{#each config.actionTypes}}
                <option value="{{@key}}" {{#if (eq @key ../system.action.type)}}selected{{/if}}>
                  {{localize this}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="flexcol">
            <label for="system.action.ability" class="label">Ability</label>
            <select name="system.action.ability">
              <option value="">None</option>
              {{#each config.abilities}}
                <option value="{{@key}}" {{#if (eq @key ../system.action.ability)}}selected{{/if}}>
                  {{localize this}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="flexcol">
            <label for="system.action.bonus" class="label">Bonus</label>
            <input type="text" name="system.action.bonus" value="{{system.action.bonus}}" data-dtype="Number" />
          </div>
        {{else}}
          {{#if system.action}}
            <div class="item-action flexcol">
              <label for="action" class="label">
                {{localize (lookup @root.config.actionTypes system.action.type)}}
              </label>
              {{#if system.action.ability}}
                <button class="ability-roll-button" data-action="rollable"
                  data-roll="d12+@actor.abilities.{{system.action.ability}}.value {{bonus system.action.bonus}}"
                  data-label="{{item.name}}">
                  <div class="flexrow">
                    <img src="/systems/d12/assets/ui/icons/color_{{system.action.ability}}.svg" width="24" height="24" />
                    <div>
                      {{localize (lookup @root.config.abilities system.action.ability)}}
                      {{bonus system.action.bonus}}
                    </div>
                  </div>
                </button>
              {{else}}
                <button> No check required</button>
              {{/if}}
            </div>
          {{/if}}
        {{/if}}

      </div>
    </aside>

    {{!-- Right column: main content with tabs --}}
    <section class="sheet-body flexcol">

      {{!-- Sheet Header --}}
      <header class="sheet-header flexcol">
        <div class="sheet-title">
          {{#if editable}}
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
          {{else}}
          <div>{{item.name}}</div>
          {{/if}}
        </div>

        {{#if (eq item.type "item")}}
          {{#if editable}}
          <div class="grid grid-3col">
            <div>
              <label for="system.price" class="label">Price</label>
              <input type="text" name="system.price" value="{{system.price}}" data-dtype="Number" />
            </div>
            <div>
              <label for="system.weight" class="label">Weight</label>
              <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
            </div>
            <div>
              <label for="system.quantity" class="label">Quantity</label>
              <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
            </div>
          </div>
          {{else}}
          <div class="inline-attributes">
            {{#if system.price}}
            <span>
              <i class="fas fa-coins"></i>
              <span class="attribute-value">{{system.price}}</span>
              <span>GP</span>
            </span>
            {{/if}}
            <span>
              <i class="fas fa-weight-hanging"></i>
              <span class="attribute-value">{{system.weight}}</span>
              <span>kg</span>
            </span>
            <span>
              <span>Quantity</span>
              <span class="attribute-value">{{system.quantity}}</span>
            </span>
          </div>
          {{/if}}
        {{/if}}
        {{#if (eq item.type "spell")}}
          {{#if editable}}
          <div class="grid grid-2col">
            <div>
              <label for="system.charges.value" class="label">Charges</label>
              <input type="text" name="system.charges.value" value="{{system.charges.value}}" data-dtype="Number" />
            </div>
            <div>
              <label for="system.charges.max" class="label">Maximum</label>
              <input type="text" name="system.charges.max" value="{{system.charges.max}}" data-dtype="Number" />
            </div>
          </div>
          {{else}}
          <div class="inline-attributes">
            {{#if system.charges}}
            <span>
              <i class="fas fa-magic"></i>
              <span class="attribute-value">{{system.charges.value}}</span>
              {{#if system.charges.max}}
              <span>/</span>
              <span class="attribute-value">{{system.charges.max}}</span>
              {{/if}}
              <span>charges</span>
            </span>
            {{else}}
            <span>
              <span>Unlimited use</span>
            </span>
            {{/if}}
          </div>
          {{/if}}
        {{/if}}
      </header>

      <div class="editor-section">
        {{#if editable}}
        <prose-mirror
          name="system.description"
          button="true"
          editable="{{editable}}"
          toggled="false"
          value="{{system.description}}">
          {{{enrichedDescription}}}
        </prose-mirror>
        {{else}}
        {{{enrichedDescription}}}
        {{/if}}
      </div>
    </section>

  </div>
</section>
