<form class='{{cssClass}}' autocomplete='off'>
  {{!-- Sheet Body --}}
  <div class="grid sheet-grid">

    {{!-- Left column: sidebar with resources and image --}}
    <aside class="sidebar">
      <div class="sheet-art">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
      </div>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="details">



      </div>
    </aside>

    {{!-- Right column: main content with tabs --}}
    <section class="sheet-body">

      {{!-- Sheet Header --}}
      <header class="sheet-header flexcol">
        <h1 class="sheet-title align-center"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </header>

      <div class='grid grid-3col'>
        <div class='resource'>
          <label class='resource-label'>Ability</label>
          <select name='system.ability'>
            <option value=''>None</option>
            {{#each config.abilities}}
              <option value='{{@key}}' {{#if (eq @key ../system.ability)}}selected{{/if}}>
                {{localize this}}
              </option>
            {{/each}}
          </select>
        </div>
        <div class='resource'>
          <label class='resource-label'>Quantity</label>
          <input
            type='text'
            name='system.quantity'
            value='{{system.quantity}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>Weight</label>
          <input
            type='text'
            name='system.weight'
            value='{{system.weight}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='tab' data-group='primary' data-tab='description'>
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          enrichedDescription
          target='system.description'
          engine='prosemirror'
          button=true
          editable=editable
        }}
      </div>

    </section>

  </div>


</form>
