<form class='{{cssClass}} flexcol' autocomplete='off'>
  {{!-- Sheet Body --}}
  <div class="grid sheet-grid">

    {{!-- Left column: sidebar with resources and image --}}
    <aside class="sidebar">
      <div class="sheet-art">
        <img class="rarity-{{system.rarity}}" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
      </div>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="details">

        <div class='rarity flexcol'>
          <label for="system.rarity" class="label">Rarity</label>
          <select class="rarity-{{system.rarity}}" name='system.rarity'>
            {{#each config.rarities}}
              <option class="rarity-{{@key}}" value='{{@key}}' {{#if (eq @key ../system.rarity)}}selected{{/if}}>
                {{localize this}}
              </option>
            {{/each}}
          </select>
        </div>

      </div>
    </aside>

    {{!-- Right column: main content with tabs --}}
    <section class="sheet-body flexcol">

      {{!-- Sheet Header --}}
      <header class="sheet-header flexcol">
        <h1 class="sheet-title"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <h2 class="sheet-subtitle">Weapon</h2>
      </header>

      {{#if @root.editable}}
      <div class="flexrow">
        <div>
          <label for="system.price" class="label">Price</label>
          <input type='text' name='system.price' value='{{system.price}}' data-dtype='Number' />
        </div>
        <div>
          <label for="system.weight" class="label">Weight</label>
          <input type='text' name='system.weight' value='{{system.weight}}' data-dtype='Number' />
        </div>
        <div>
          <label for="system.quantity" class="label">Quantity</label>
          <input type='text' name='system.quantity' value='{{system.quantity}}' data-dtype='Number' />
        </div>
      </div>
      {{else}}
      <div class="inline-attributes">
        {{#if system.price}}
        <span>
          <i class="fas fa-coins"></i>
          <span class="attribute-value">{{system.price}}</span>
          <span>GP</span>
        </span>
        {{/if}}
        <span>
          <i class="fas fa-weight-hanging"></i>
          <span class="attribute-value">{{system.weight}}</span>
          <span>kg</span>
        </span>
        <span>
          <span>Quantity</span>
          <span class="attribute-value">{{system.quantity}}</span>
        </span>
      </div>
      {{/if}}

      <div>
        <label>Action Type</label>
        <select name='system.action.type'>
          <option value=''>None</option>
          {{#each config.actionTypes}}
            <option value='{{@key}}' {{#if (eq @key ../system.action.type)}}selected{{/if}}>
              {{localize this}}
            </option>
          {{/each}}
        </select>
      </div>

      <div>
        <label>Ability</label>
        <select name='system.action.ability'>
          <option value=''>None</option>
          {{#each config.abilities}}
            <option value='{{@key}}' {{#if (eq @key ../system.action.ability)}}selected{{/if}}>
              {{localize this}}
            </option>
          {{/each}}
        </select>
      </div>

      <div class="editor-section">
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          enrichedDescription
          target='system.description'
          engine='prosemirror'
          button=true
          editable=editable
        }}
      </div>
    </section>

  </div>
</form>
